/*  your css code here. If applicable */
#ylw{
	background:yellow;
	border:solid;
	border-width:1px;
	border-color:green;
}
#red{
	background:red;
	border-style:solid;
	border-width:1px;
	border-color:green;
}

#grn{
	background:green;
	border-style:solid;
	border-width:1px;
	border-color:yellow;
}